<header class="text-gray-600 body-font sticky top-0 bg-red-100 bg-opacity-90 z-50">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center justify-between">
  <%= link_to root_path, class:"flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" do %>
    <%= image_tag 'logo.webp', class: 'w-30 h-24' %>
    <span class="-ml-7 text-xl">for you.</span>
  <% end %>
    <nav class="md:ml-auto flex flex-wrap items-center text-base">
      <%= link_to t('defaults.login'), login_path , class:"mx-6 hover:text-gray-900", data: { turbo: false } %>
      <%= link_to t('defaults.registration'), step1_users_path, class:"mx-6 hover:text-gray-900", data: { turbo: false } %>
      <a class="mx-6 hover:text-gray-900">ゲストログイン</a>
    </nav>
  </div>
</header>