<% flash.each do |message_type, messages| %>
  <div class="fixed top-36 left-1/2 transform -translate-x-1/2 shadow-lg rounded px-4 py-2 text-sm <%= tailwind_alert_class(message_type) %>">
    <ul>
      <% Array(messages).each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
