<footer class="text-white body-font bg-gray-400 ">
  <div class="container px-5 py-1 mx-auto flex items-center sm:flex-row flex-col">
    <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <%= image_tag 'icon_logo.png', class: 'w-30 h-24' %>
      <span class="-ml-7 text-xl">for you.</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      © 2024 for you. —
      <%= link_to '@ohd_runteq44', 'https://twitter.com/ohd_runteq44', class: 'text-gray-600 ml-1', rel: 'noopener noreferrer', target: '_blank' %>
    </p>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      <%= link_to t('defaults.privacy_policy'), pages_privacy_policy_path, class: 'text-gray-600 ml-1' %>
    </p>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
      <%= link_to t('defaults.terms_of_use'), pages_terms_of_use_path, class: 'text-gray-600 ml-1' %>
    </p>
  </div>
</footer>