<header class="text-gray-600 body-font sticky top-0 bg-red-100 bg-opacity-90 z-50">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <%= image_tag 'icon_logo.png', class: 'w-30 h-24' %>
      <span class="-ml-7 text-xl">for you.</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900">First Link</a>
      <a class="mr-5 hover:text-gray-900">Second Link</a>
      <a class="mr-5 hover:text-gray-900">Third Link</a>
      <a class="mr-5 hover:text-gray-900">Fourth Link</a>
    </nav>
  </div>
</header>