<% content_for(:title, t('.title')) %>
<div class="bg-white shadow overflow-hidden sm:rounded-lg p-6">
  <h1 class="text-2xl font-bold tetx-black text-center mb-5"><%= t('.title') %></h1>
  <div class="border-t border-gray-200">
    <dl>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          お客様から取得する情報
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          当社は、お客様から以下の情報を取得します。：<br>
          ・氏名（ニックネームやペンネームも含む）<br>
          ・年齢または生年月日<br>
          ・性別<br>
          ・職業、職歴、学歴<br>
          ・メールアドレス<br>
          ・外部サービスでお客様が利用するに、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報<br>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          お客様の情報を利用する目的
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          当社は、お客様から取得した情報を、以下の目的のために利用します。：<br>
          ・当社サービスに関する登録の受付、お客様の本人確認、認証のため<br>
          ・お客様の当社サービスの利用履歴を管理するため<br>
          ・当社サービスにおけるお客様の行動履歴を分析し、当社サービスの維持改善に役立てるため<br>
          ・当社のサービスに関するご案内をするため<br>
          ・お客様からのお問い合わせに対応するため<br>
          ・当社の規約や法令に違反する行為に対応するため<br>
          ・当社サービスの変更、提供中止、終了、契約解除をご連絡するため<br>
          ・当社規約の変更等を通知するため<br>
          ・以上の他、当社サービスの提供、維持、保護及び改善のため<br>
        </dd>
      </div>
      <div class="bg-gray-50  px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          安全管理のために講じた措置
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          当社が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          第三者提供
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          当社は、お客様から取得する情報のうち、個人データ（個人情報保護法第16条第3項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。
          但し、次の場合は除きます。：<br>
          ・個人データの取扱いを外部に委託する場合<br>
          ・当社や当社サービスが買収された場合<br>
          ・事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）<br>
          ・その他、法律によって合法的に第三者提供が許されている場合<br>
        </dd>
      </div>
      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          アクセス解析ツール
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          当社は、お客様のアクセス解析のために、「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータの収集のためにcookieを使用しています。<br>
          トラフィックデータは匿名で収集されており、個人を特定するものではありません。Cookieを無効にすれば、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザの設定をご確認ください。<br>
          Googleアナリティクスについて、詳しくは以下からご確認ください。<br>
          <a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="text-blue-500 hover:text-blue-700">https://marketingplatform.google.com/about/analytics/terms/jp/</a><br>
        </dd>
      </div>
      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          プライバシーポリシーの変更
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          当社は、必要に応じて、このプライバシーポリシーの内容を変更します。<br>
          この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。<br>
        </dd>
      </div>
      <div class="bg-gray-50  px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-lg leading-6 font-medium text-gray-900">
          お問い合わせ
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
          お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、以下のメールアドレスにご連絡ください。<br>
          e-mail<br>
          aspringwithoutlife4929@gmail.com<br>
        </dd>
      </div>
    </dl>
  </div>
  <div class="mt-6 mb-6 text-center">
    <%= link_to "トップページに戻る", root_path, class: "bg-gray-50 border border-secondary py-2 px-5 hover:shadow-lg rounded-full text-lg mx-4", data: { turbo: false } %>
  </div>
</div>
